/* Estilo geral */
body {
    background-image: url('../Imagem/more-leaves-on-green.png'); /* coloque o nome exato do seu arquivo ou o caminho */
    background-attachment: fixed;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100px; /* opcional, ajusta o tamanho da imagem */
    background-color: rgb(4, 224, 151);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

 h2 {
    background-color: aliceblue;
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

p {
    text-align: center;
    color: black;
    margin: 10px;
    font-weight: bold;
}

/* Box model aplicado ao bloco "Sobre mim" */
.sobre-box {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 30px auto;
    width: 80%;
    max-width: 600px;
    color: white;
    text-align: center;
    background-image: url('/Imagem/more-leaves-on-green.png');
}

/* Imagem redonda */
img {
    display: block;
    margin: 0 auto;
    border-radius: 40%
}

/* Estilo para links */
a{
    color: rgb(0, 3, 1);
    text-decoration: none;
    font-weight: bold;
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    margin: 40px auto;
}

/* Pseudoclasses */
a:hover {
    color: rgb(9, 70, 12);
    text-decoration: underline;
}

a:visited {
    color: ligtgray;
}

